<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <style>
        button {
        background-color: rgb(10, 60, 224);
        border-radius: 10px;
        width: 320px;
        height: 149px;
        color: white;
        font-weight: bold;
        outline-color: rgb(10, 60, 224);
        border-style: hidden;
        font-size: 50px;
        }
    </style>
</head>
<body>
    <button onclick="window.location.href='/generator'">Go to Generator</button>
</body>
</html>
